@import url("http://fonts.googleapis.com/css?family=Comfortaa");

$fontFamily: Comfortaa;

$baseSpacing: 8;
$smfontSize: 12px;
$bigFontSize: 14px;

$bold: 700;
$backgroundColor: #f2f2f2;
$textColor: #999999;
$highRatingTextColor: #9335ff;
$lowRatingTextColor: #e89d40;
$highRatinBackgroundColor: #27aae1;
$lowRatinBackgroundColor: #e89d40;

$maxWidth: 768px;
$minWidth: 320px;

$breakpointTablet: 768px;